@import "../../responsive.scss";

.listPage {
  display: flex;
  height: 100%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: hidden;
  }

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;

      // -ms-overflow-style: none; /* IE and Edge */
      // scrollbar-width: none; /* Firefox */

      // &::-webkit-scrollbar {
      //   display: hidden;
      // }
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;

    @include md {
      display: none;
    }
  }
}
